{% extends "layout.html" %}
{% block body %}

<form action="{{ url_fo('update_entry', id=entry.id)}}"method=post class="add-entry">
    <div class="form-group">
        <label for=""InputTittle>タイトル</label>
        <input type="text" class="form-control" id="InpuTittle" name=title value={{entry.tittle}}>

    </div>
    <div class="form-group">

        <label for="InputText">本文</label>
        <textarea class="form-control" id="InputText" name=text rows="3">
            {{entry.text|safe}}
        </textarea>
    </div>
    <button type="submit" class="btn btn-primary">更新</button>
</form>
{% endblock %}